@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string getRoleName(KIRTStudentJournal.Shared.Models.Role role)
    {
        Type roleType = typeof(KIRTStudentJournal.Shared.Models.Role);
        return Enum.GetName(roleType, role);
    }
}


<html>
<head>
    <link rel="stylesheet" href="/css/debugStyle.css" />
</head>
<body>
    <h1>
        Hello
    </h1>

    <table>
@{ 
    using (var db = new KIRTStudentJournal.Database.DatabaseContext())
    {
        var accounts = db.Accounts.ToArray();
        var persons = db.Persons.ToArray();
        var groups = db.StudentGroups.ToArray();

        foreach (var account in accounts)
        {
            <tr>
                <td>@account.Login</td>
                <td>@getRoleName(account.Role)</td>
                @{
                    if (account.Person != null)
                    {
                        if (account.Person is KIRTStudentJournal.Database.Journal.Student student)
                        {
                            <td>Студент</td>
                            if (student.Group != null)
                            {
                                <td>Группа: @(student.Group.Specialization.ShortName )</td>
                            }
                        }
                        <td>@account.Person.GetType().Name</td>
                    }
                    else
                    {
                        <td>person is null</td>
                    }
                }
            </tr>
        }
    }
}
    </table>
</body>
</html>
